@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
nav {
  /* background-image: linear-gradient(75deg, #19d3ae, #0fcfec); */
  background-color: #18bbb5;
  width: 100%;
}

.navbar-brand {
  margin-left: 6%;
}
.nav-menu {
  margin-left: auto !important;
  padding-left: 40%;
}

.nav-link {
  margin-right: 10px;
}
.nav-item a {
  text-transform: uppercase;
  font-weight: 600;
}
.container-fluid {
  display: flex;
}
.navbar-brand {
  display: flex;
}
.navbar-brand {
  height: 60px;
}
main {
  height: 600px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.header-container {
  height: 850px;
  position: relative;
  background-image: url("images/chairBg.png");
  background-size: cover;
  width: 100%;
}
.header-main-text {
  margin-top: 4%;
}
.header-container h1 {
  color: #3a4256;
}
.header-container::after {
  height: 700px;
  content: " ";
  position: absolute;
  top: 0;
  width: 25%;
  right: 0;
  background-color: #3a4256;
  z-index: -50;
}
.info-card {
  padding: 0 5px;
}
.info-primary {
  background-color: #1cc7c1;
}
.info-dark {
  background-color: #3a4256;
}
.info-icon {
  font-size: 3em;
  color: white;
  margin-right: 10px;
}
.info-container {
  height: 120px;
  padding: 40px;
}

.make-appointment {
  background-image: url(images/appointmentBg.png);
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  height: 420px;
  background-attachment: fixed;
}

.make-appointment::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(36, 41, 73);
  opacity: 0.7;
  top: 0;
}

.make-appointment img {
  height: 550px;
  transform: translateY(-130px);
}
.appointment-text {
  z-index: 100;
}
erver .appointment-text .text-primary {
  color: #1cc7c1 !important;
}

.btn-brand {
  background-color: #1cc7c1;
}

.testimonials .container {
  background-image: url(images/quote.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 150px;
}
.testimonials .card {
  border-color: transparent;
}

.testimonials .card .card-footer {
  background: transparent;
  border: 0;
}
.section-header h5 {
  color: #0fcfec;
}
.blogs .card {
  border: 0;
}
.blogs .card-header {
  border: 0;
  background-color: transparent;
}

.blogs .card:hover {
  background-image: linear-gradient(75deg, #19d3ae, #0fcfec);
  color: #fff !important;
  transition: 0.1s all ease-in-out !important;
}
.blogs .card:hover .card-body {
  background-image: url(images/quote.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 60%;
}
.blogs .card:hover h6,
.blogs .card:hover p {
  color: #fff !important;
}
.blogs .card:hover img {
  display: none;
}

.contact {
  background-image: url(images/appointmentBg.png);
  position: relative;
  z-index: 1;
}
.contact::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(12, 11, 27);
  opacity: 0.9;
  z-index: -1;
}
.footer-area {
  background-image: url(images/footer-bg.png);
  background-size: cover;
}

.footer-area li {
  padding-bottom: 10px;
}

.social-media .icon {
  height: 40px;
  width: 40px;
  color: #1cc7c1;
  border-radius: 50%;
  border: 1px solid #6acece;
  padding: 10px;
}
.social-media .active-icon {
  background-color: #6acece;
  color: white;
}
.text-brand {
  color: #1cc7c1;
}
.btn-brand {
  background-image: linear-gradient(75deg, #19d3ae, #0fcfec);
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}
.dashboard {
  background-color: #f4fdfb;
  height: 100%;
}
.sidebar {
  background-image: linear-gradient(40deg, #19d3ae, #0fcfec);
  position: fixed;
}
.sidebar li {
  margin-bottom: 2em;
}
.sidebar li:hover span {
  display: inline-block;
  transform: translate(5px);
}
.sidebar svg {
  margin-right: 5px;
}
.appointment-container {
  height: 600px;
  position: relative;
  background-image: linear-gradient(
    to right,
    rgba(10, 25, 47, 0.9),
    rgba(10, 25, 47, 1)
  );
  /* url(images/chairBg.png); */

  background-size: cover;
  width: 100%;
  background-color: white;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #0fcfec !important;
}
